body {
background: rgb(248, 248, 248) url("https://startpages.github.io/startpages/start_page_2-tayumpee/img/bg_tile.jpg") repeat scroll 0% 0% / auto padding-box border-box;
background-attachment: scroll;
background-color: #f8f8f8; 
background-image: url("https://startpages.github.io/startpages/start_page_2-tayumpee/img/bg_tile.jpg");
background-position: 0% 0%;
background-repeat: repeat;
bottom: auto;
clear: none;
color: #000000; 
cursor: auto;
display: block;
float: none;
font: 15px haxrcorp, monospace;
font-family: haxrcorp, monospace;
font-size: 15px;
font-style: normal;
font-weight: 400;
height: 935px;
left: auto;
letter-spacing: 0;
line-height: normal;
list-style: outside none disc;
margin: 8px;
margin-bottom: 8px;
margin-left: 8px;
margin-right: 8px;
margin-top: 8px;
max-height: none;
max-width: none;
min-height: 0px;
min-width: 0px;
outline: rgb(0, 0, 0) none 0px;
overflow: visible;
padding: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: static;
right: auto;
text-align: start;
text-decoration: none solid rgb(0, 0, 0);
text-indent: 0px;
text-shadow: none;
text-transform: none;
top: auto;
vertical-align: baseline;
visibility: visible;
white-space: normal;
width: 1848px;
word-spacing: 0px;
z-index: auto;
}


#time {
background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
background-attachment: scroll;
background-image: none;
background-position: 0% 0%;
background-repeat: repeat;
bottom: 325px;
clear: none;
color: #ffffff; 
cursor: auto;
display: block;
float: none;
font: 16px haxrcorp, monospace;
font-family: haxrcorp, monospace;
font-size: 16px;
font-style: normal;
font-weight: 400;
height: 12px;
left: 2px;
letter-spacing: 0;
line-height: normal;
list-style: outside none disc;
margin: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
max-height: none;
max-width: none;
min-height: 0px;
min-width: 0px;
outline: rgb(255, 255, 255) none 0px;
overflow: visible;
padding: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: absolute;
right: 536px;
text-align: start;
text-decoration: none solid rgb(255, 255, 255);
text-indent: 0px;
text-shadow: none;
text-transform: none;
top: -18px;
vertical-align: baseline;
visibility: visible;
white-space: normal;
width: 134px;
word-spacing: 0px;
z-index: auto;
}


#main1 {
background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
background-attachment: scroll;
background-color: #ffffff; 
background-image: none;
background-position: 0% 0%;
background-repeat: repeat;
border: 2px solid rgb(0, 0, 0);
border-bottom: 2px solid rgb(0, 0, 0);
border-bottom-color: #000000; 
border-bottom-style: solid;
border-bottom-width: 2px;
border-collapse: separate;
border-color: #000000; 
border-left: 2px solid rgb(0, 0, 0);
border-left-color: #000000; 
border-left-style: solid;
border-left-width: 2px;
border-right: 2px solid rgb(0, 0, 0);
border-right-color: #000000; 
border-right-style: solid;
border-right-width: 2px;
border-spacing: 0px 0px;
border-style: solid;
border-top: 2px solid rgb(0, 0, 0);
border-top-color: #000000; 
border-top-style: solid;
border-top-width: 2px;
border-width: 2px;
bottom: 17px;
clear: none;
color: #000000; 
cursor: auto;
display: block;
float: none;
font: 15px haxrcorp, monospace;
font-family: haxrcorp, monospace;
font-size: 15px;
font-style: normal;
font-weight: 400;
height: 300px;
left: -2px;
letter-spacing: 0;
line-height: normal;
list-style: outside none disc;
margin: 0px -56px 0px 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: -56px;
margin-top: 0px;
max-height: none;
max-width: none;
min-height: 0px;
min-width: 0px;
outline: rgb(0, 0, 0) none 0px;
overflow: visible;
padding: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: absolute;
right: 190px;
text-align: center;
text-decoration: none solid rgb(0, 0, 0);
text-indent: 0px;
text-shadow: none;
text-transform: none;
top: -2px;
vertical-align: baseline;
visibility: visible;
white-space: normal;
width: 536px;
word-spacing: 0px;
z-index: auto;
}

.welcome {
background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
background-attachment: scroll;
background-image: none;
background-position: 0% 0%;
background-repeat: repeat;
bottom: 202px;
clear: none;
color: #000000; 
cursor: auto;
display: block;
float: none;
font: 22px / 18px haxrcorp, monospace;
font-family: haxrcorp, monospace;
font-size: 22px;
font-style: normal;
font-weight: 400;
height: 18px;
left: 0px;
letter-spacing: 0;
line-height: 18px;
list-style: outside none disc;
margin: 0px 118px;
margin-bottom: 0px;
margin-left: 118px;
margin-right: 118px;
margin-top: 0px;
max-height: none;
max-width: none;
min-height: 0px;
min-width: 0px;
outline: rgb(0, 0, 0) none 0px;
overflow: visible;
padding: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: absolute;
right: 0px;
text-align: center;
text-decoration: none solid rgb(0, 0, 0);
text-indent: 0px;
text-shadow: none;
text-transform: none;
top: 80px;
vertical-align: baseline;
visibility: visible;
white-space: normal;
width: 300px;
word-spacing: 0px;
z-index: auto;
}


.bookmarkscontainer {
background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
background-attachment: scroll;
background-image: none;
background-position: 0% 0%;
background-repeat: repeat;
bottom: -140px;
clear: none;
color: #000000; 
cursor: auto;
display: inline-block;
float: none;
font: 15px haxrcorp, monospace;
font-family: haxrcorp, monospace;
font-size: 15px;
font-style: normal;
font-weight: 400;
height: 126px;
left: 0px;
letter-spacing: 0;
line-height: normal;
list-style: outside none disc;
margin: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
max-height: none;
max-width: none;
min-height: 0px;
min-width: 0px;
outline: rgb(0, 0, 0) none 0px;
overflow: visible;
padding: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: relative;
right: 0px;
text-align: center;
text-decoration: none solid rgb(0, 0, 0);
text-indent: 0px;
text-shadow: none;
text-transform: none;
top: 140px;
vertical-align: baseline;
visibility: visible;
white-space: normal;
width: 444px;
word-spacing: 0px;
z-index: auto;
}

#btn1 {
background: rgb(170, 170, 170) none repeat scroll 0% 0% / auto padding-box border-box;
background-attachment: scroll;
background-color: #aaaaaa; 
background-image: none;
background-position: 0% 0%;
background-repeat: repeat;
border: 2px solid rgb(0, 0, 0);
border-bottom: 2px solid rgb(0, 0, 0);
border-bottom-color: #000000; 
border-bottom-style: solid;
border-bottom-width: 2px;
border-collapse: separate;
border-color: #000000; 
border-left: 2px solid rgb(0, 0, 0);
border-left-color: #000000; 
border-left-style: solid;
border-left-width: 2px;
border-right: 2px solid rgb(0, 0, 0);
border-right-color: #000000; 
border-right-style: solid;
border-right-width: 2px;
border-spacing: 0px 0px;
border-style: solid;
border-top: 2px solid rgb(0, 0, 0);
border-top-color: #000000; 
border-top-style: solid;
border-top-width: 2px;
border-width: 2px;
bottom: auto;
clear: none;
color: #000000; 
cursor: auto;
display: block;
float: left;
font: 15px haxrcorp, monospace;
font-family: haxrcorp, monospace;
font-size: 15px;
font-style: normal;
font-weight: 400;
height: 12px;
left: auto;
letter-spacing: 0;
line-height: normal;
list-style: outside none disc;
margin: 0px 2px 0px 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 2px;
margin-top: 0px;
max-height: none;
max-width: none;
min-height: 0px;
min-width: 0px;
outline: rgb(0, 0, 0) none 0px;
overflow: visible;
padding: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: static;
right: auto;
text-align: start;
text-decoration: none solid rgb(0, 0, 0);
text-indent: 0px;
text-shadow: none;
text-transform: none;
top: auto;
vertical-align: baseline;
visibility: visible;
white-space: normal;
width: 12px;
word-spacing: 0px;
z-index: auto;
}

#btn2 {
background: rgb(170, 170, 170) none repeat scroll 0% 0% / auto padding-box border-box;
background-attachment: scroll;
background-color: #aaaaaa; 
background-image: none;
background-position: 0% 0%;
background-repeat: repeat;
border: 2px solid rgb(0, 0, 0);
border-bottom: 2px solid rgb(0, 0, 0);
border-bottom-color: #000000; 
border-bottom-style: solid;
border-bottom-width: 2px;
border-collapse: separate;
border-color: #000000; 
border-left: 2px solid rgb(0, 0, 0);
border-left-color: #000000; 
border-left-style: solid;
border-left-width: 2px;
border-right: 2px solid rgb(0, 0, 0);
border-right-color: #000000; 
border-right-style: solid;
border-right-width: 2px;
border-spacing: 0px 0px;
border-style: solid;
border-top: 2px solid rgb(0, 0, 0);
border-top-color: #000000; 
border-top-style: solid;
border-top-width: 2px;
border-width: 2px;
bottom: auto;
clear: none;
color: #000000; 
cursor: auto;
display: block;
float: left;
font: 15px haxrcorp, monospace;
font-family: haxrcorp, monospace;
font-size: 15px;
font-style: normal;
font-weight: 400;
height: 12px;
left: auto;
letter-spacing: 0;
line-height: normal;
list-style: outside none disc;
margin: 0px 2px 0px 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 2px;
margin-top: 0px;
max-height: none;
max-width: none;
min-height: 0px;
min-width: 0px;
outline: rgb(0, 0, 0) none 0px;
overflow: visible;
padding: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: static;
right: auto;
text-align: start;
text-decoration: none solid rgb(0, 0, 0);
text-indent: 0px;
text-shadow: none;
text-transform: none;
top: auto;
vertical-align: baseline;
visibility: visible;
white-space: normal;
width: 12px;
word-spacing: 0px;
z-index: auto;
}

.searchinput {
background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
background-attachment: scroll;
background-color: #ffffff; 
background-image: none;
background-position: 0% 0%;
background-repeat: repeat;
bottom: 1px;
clear: none;
color: #000000; 
cursor: text;
display: inline-block;
float: none;
font: 15px / 13px haxrcorp, monospace;
font-family: haxrcorp, monospace;
font-size: 15px;
font-style: normal;
font-weight: 400;
height: 12px;
left: 0px;
letter-spacing: 0;
line-height: 13px;
list-style: outside none disc;
margin: 0px 1px;
margin-bottom: 0px;
margin-left: 1px;
margin-right: 1px;
margin-top: 0px;
max-height: none;
max-width: none;
min-height: 0px;
min-width: 0px;
outline: rgb(0, 0, 0) none 0px;
overflow: visible;
padding: 0px 2px;
padding-bottom: 0px;
padding-left: 2px;
padding-right: 2px;
padding-top: 0px;
position: relative;
right: 0px;
text-align: start;
text-decoration: none solid rgb(0, 0, 0);
text-indent: 0px;
text-shadow: none;
text-transform: none;
top: -1px;
vertical-align: baseline;
visibility: visible;
white-space: normal;
width: 194px;
word-spacing: 0px;
z-index: auto;
}

#news1 {
background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
background-attachment: scroll;
background-image: none;
background-position: 0% 0%;
background-repeat: repeat;
bottom: -1px;
clear: none;
color: #000000; 
cursor: auto;
display: block;
float: none;
font: 15px / 12px haxrcorp, monospace;
font-family: haxrcorp, monospace;
font-size: 15px;
font-style: normal;
font-weight: 400;
height: 12px;
left: 238px;
letter-spacing: 0;
line-height: 12px;
list-style: outside none disc;
margin: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
max-height: none;
max-width: none;
min-height: 0px;
min-width: 0px;
outline: rgb(0, 0, 0) none 0px;
overflow: hidden;
padding: 0px 2px;
padding-bottom: 0px;
padding-left: 2px;
padding-right: 2px;
padding-top: 0px;
position: absolute;
right: 2px;
text-align: center;
text-decoration: none solid rgb(0, 0, 0);
text-indent: 0px;
text-shadow: none;
text-transform: none;
top: 1px;
vertical-align: baseline;
visibility: visible;
white-space: nowrap;
width: 296px;
word-spacing: 0px;
z-index: auto;
}


#main2 > .sidebar {
background: rgb(255, 255, 255) url("https://startpages.github.io/startpages/start_page_2-tayumpee/img/m2.gif") no-repeat scroll 50% 50% / cover padding-box border-box;
background-attachment: scroll;
background-color: #ffffff; 
background-image: url("https://startpages.github.io/startpages/start_page_2-tayumpee/img/m2.gif");
background-position: 50% 50%;
background-repeat: no-repeat;
border: 2px solid rgb(0, 0, 0);
border-bottom: 2px solid rgb(0, 0, 0);
border-bottom-color: #000000; 
border-bottom-style: solid;
border-bottom-width: 2px;
border-collapse: separate;
border-color: #000000; 
border-left: 2px solid rgb(0, 0, 0);
border-left-color: #000000; 
border-left-style: solid;
border-left-width: 2px;
border-right: 2px solid rgb(0, 0, 0);
border-right-color: #000000; 
border-right-style: solid;
border-right-width: 2px;
border-spacing: 0px 0px;
border-style: solid;
border-top: 2px solid rgb(0, 0, 0);
border-top-color: #000000; 
border-top-style: solid;
border-top-width: 2px;
border-width: 2px;
bottom: 200px;
clear: none;
color: #000000; 
cursor: auto;
display: block;
float: none;
font: 15px haxrcorp, monospace;
font-family: haxrcorp, monospace;
font-size: 15px;
font-style: normal;
font-weight: 400;
height: 319px;
left: 541px;
letter-spacing: 0;
line-height: normal;
list-style: outside none disc;
margin: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
max-height: none;
max-width: none;
min-height: 0px;
min-width: 0px;
outline: rgb(0, 0, 0) none 0px;
overflow: visible;
padding: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: absolute;
right: -138px;
text-align: center;
text-decoration: none solid rgb(0, 0, 0);
text-indent: 0px;
text-shadow: none;
text-transform: none;
top: -2px;
vertical-align: baseline;
visibility: visible;
white-space: normal;
width: 129px;
word-spacing: 0px;
z-index: auto;
}

